# Frameworks e Servidor WSGI
Flask==2.3.3
gunicorn==21.2.0
python-dotenv==1.0.0
eventlet==0.33.3 # Para WebSockets com Gunicorn

# Banco de Dados (será usado em breve)
# SQLAlchemy==2.0.22
# Flask-SQLAlchemy==3.1.1
